{% extends "base.html" %}
{% block title %} No grāmatas līdz filmai {% endblock %}
{% block content %}
<h1>No grāmatas līdz filmai!</h1>
<p>
    Vai esi kādreiz domājis, kuras filmas balstītas uz grāmatām? Šeit vari apskatīt sarakstu ar pazīstamām grāmatām un
    to filmu versijām – romantiku, šausmas, trillerus un daudz ko citu.
    Ideāli, ja meklē nākamo lasāmo vai skatāmo!
    Šī mājaslapa apkopo grāmatas, kas adaptētas filmās, saglabājot to oriģinālo žanru. Katram ierakstam redzams
    nosaukums, autors vai režisors, gads un žanrs – ērti salīdzināšanai un izzināšanai.</p> 
    
    <p> PS: Visi grāmatu un filmu nosaukumi, kā arī režisori un autori ir angļu valodā, lai atvieglotu filmas meklēšanu!</p>

   
</p>
<h2>Žanri:</h2>
<ul>
    <li> Romantika  </li>
    <li> Fantāzija </li>
    <li> Mistērija/Detektīvs </li>
    <li> Trilleris </li>
    <li> Šausmenes </li>
    
</ul>

{% endblock %}
<!-- katra bloka dazads saturs -->